:root {
	--icon-arrow: url("../../icons/arrow.svg");
	--icon-catgo: url("../../icons/catgo.svg");
	--icon-catsit: url("../../icons/catsit.svg");
	--icon-flask: url("../../icons/flask.svg");
	--icon-gift: url("../../icons/gift.svg");
	--icon-htmlacademy: url("../../icons/htmlacademy.svg");
	--icon-leaf: url("../../icons/leaf.svg");
	--icon-mail: url("../../icons/mail.svg");
	--icon-phone: url("../../icons/phone.svg");
	--icon-plus: url("../../icons/plus.svg");
	--icon-scales: url("../../icons/scales.svg");
	--icon-tableware: url("../../icons/tableware.svg");
	--icon-thumb: url("../../icons/thumb.svg");
	--icon-social-telegram: url("../../icons/social/telegram.svg");
	--icon-social-vkontakte: url("../../icons/social/vkontakte.svg");
	--icon-social-youtube: url("../../icons/social/youtube.svg");
	--icon-tick-checkbox: url("../../icons/tick/checkbox.svg");
	--icon-tick-radio: url("../../icons/tick/radio.svg");
}

