{%- from "../templates/header.njk" import header with context -%}
{%- from "../templates/header.njk" import header with context -%}

<!DOCTYPE html>
<html class="page" lang={{ page.lang }}>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }} — {{ project.name }}</title>
	<link rel="stylesheet" href={{ project.root ~ "/styles/styles.css" }}>
	<script src={{ project.root ~ "/scripts/index.js" }} defer></script>
</head>

<body class="page__body">

	{{ header() }}

	{% block main %}{% endblock %}

	{{ header() }}

</body>

</html>
