{%- extends "./layouts/base.njk" -%}

{%- from "./templates/cards.njk" import card, simpleCard with context -%}

{%- set page = {
	title: "Каталог продукции",
	link: "/catalog",
	lang: "ru"
} -%}

{% block main %}
<main class="main-container">

	<h1>{{ page.title }}</h1>

	<section class="main-container__products products">
		<h2 class="products__title">Основные товары</h2>
		{% for product in mainProducts %}
		{{ card(product, "products__item") }}
		{% endfor %}
		<article class="products__item card">
			<h2 class="card__title">Показать еще 100500 товаров</h2>
			<div class="card__description">На самом деле вкусов гораздо больше!</div>
			<div class="card__image"></div>
			<a class="card__button button" href="#">Показать все</a>
		</article>
		{% for product in additionalProducts %}
		{{ simpleCard(product) }}
		{% endfor %}
		<div class="products__present present">
			<div class="present__image"></div>
			<div class="present__description">Закажите все и получите чехол для кота в подарок!</div>
		</div>
	</section>

</main>
{% endblock %}
