{% macro card(product, classes = "") %}
	<article class="card {{ classes }}">
		<h3 class="card__title">{{ product.title }}</h3>
		{% if product.description %}
		<div class="card__description">{{ product.description }}</div>
		{% endif %}
		<dl class="card__specs specs">
			{% for spec in product.specs %}
			<div class="specs__item">
				<dt class="specs__name">{{ spec.name }}</dt>
				<dd class="specs__value">{{ spec.value }}</dd>
			</div>
			{% endfor %}
		</dl>
		{% if product.image %}
		<div class="card__image">{{ product.image.name }} / {{ product.image.alt }}</div>
		{% endif %}
		<a class="card__button button" href="{{ product.cta.url }}">{{ product.cta.text }}</a>
	</article>
{%endmacro%}
