{% macro card(product, classes = "") %}

{%- from "./picture.njk" import picture with context -%}

<article class="card {{ classes }}">
	<h3 class="card__title"><a class="card__link" href="#">{{ product.title }}</a></h3>
	{% if product.description %}
	<div class="card__description">{{ product.description }}</div>
	{% endif %}
	<dl class="card__specs specs">
		{% for spec in product.specs %}
		<div class="specs__item">
			<dt class="specs__name">{{ spec.name }}</dt>
			<dd class="specs__value">{{ spec.value }}</dd>
		</div>
		{% endfor %}
	</dl>
	{% if product.image %}
	<a class="card__link" href="#">{{ picture(product.image.name, { class: "card__image", alt: product.image.alt }) }}</a>
	{% endif %}
	<a class="card__button button" href="{{ product.cta.url }}">{{ product.cta.text }}</a>
</article>
{%endmacro%}
