{%- from "./picture.njk" import picture with context -%}

{% macro contacts() %}
<div class="contacts">
	{{ picture("map", { class: "contacts__map", alt: "Карта" }) }}
	<div class="contacts__map-interactive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3993.7507492713275!2d30.31380400945942!3d59.96739072453819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5afc31%3A0x5f2ac55f567b2400!2sHTML%20Academy!5e0!3m2!1sru!2sru!4v1730877829920!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

	<div class="contacts__information page__centerer">
		<div class="contacts__title">Приглашаем <span class="space"></span>к сотрудничеству дилеров!</div>
		<div class="contacts__adress">ул. Большая Конюшенная, д. 19/8 <span class="space space--2"></span><span class="space space--2"></span>Санкт-Петербург</div>
	</div>

</div>
{% endmacro %}
