{% macro contacts() %}
<aside class="contacts">
	<div class="contacts__title">Приглашаем к сотрудничеству дилеров!</div>
	<div class="contacts__adress">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</div>
	<picture class="contacts__map">
		<source type="image/webp" media="(width >= 1280px)" srcset="images/map-1280@1x.webp 1x, images/map-1280@2x.webp 2x">
		<source type="image/avif" media="(width >= 1280px)" srcset="images/map-1280@1x.avif 1x, images/map-1280@2x.avif 2x">
		<source type="image/webp" media="(width >= 768px)" srcset="images/map-768@1x.webp 1x, images/map-768@2x.webp 2x">
		<source type="image/avif" media="(width >= 768px)" srcset="images/map-768@1x.avif 1x, images/map-768@2x.avif 2x">
		<source type="image/avif" media="(width < 768px)" srcset="images/map@1x.avif 1x, images/map@2x.avif 2x">
		<img src="images/map@1x.webp" srcset="images/map@1x.webp 1x, images/map@2x.webp 2x" width="320" height="362" alt="Карта">
	</picture>
</aside>
{% endmacro %}
