<footer class="main-footer">
	<a class="main-footer__logo logo" href="index.html">
		<div class="logo__text">Кэт энерджи</div>
	</a>
	<ul class="main-footer__social social">
		<li class="social__item">
			<a class="social__link" href="https://vk.com/htmlacademy">
				<span class="visually-hidden">Мы в Вконтакте</span>
			</a>
		</li>
		<li class="social__item">
			<a class="social__link" href="https://www.youtube.com/user/htmlacademyru">
				<span class="visually-hidden">Мы в Ютубе</span>
			</a>
		</li>
		<li class="social__item">
			<a class="social__link" href="https://t.me/htmlacademy">
				<span class="visually-hidden">Мы в Телеграме</span>
			</a>
		</li>
	</ul>
	<div class="main-footer__copyright copyright">
		<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
			<span class="visually-hidden">Htmlacademy</span>
		</a>
		<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
			<span class="visually-hidden">Htmlacademy Logo</span>
		</a>
	</div>
</footer>
