{% macro input-form() %}
<fieldset class="input-form">
	<legend class="input-form__title">Акции и новинки</legend>
	<div class="input-form__description">Подпишитесь на наши новости и не пропустите ни одного предложения!</div>
	<div class=" input-form__item">
		<label class="input-form__label" for="e-mail"></label>
		<input class="input-form__content" type="text" name="name" id="e-mail" placeholder="кuklachev@gmail.com">
	</div>
</fieldset>
{% endmacro %}
