{% macro picture(name, classes = "", alt = "") -%}

	{% set formats = ["avif", "webp"] -%}
	{% set image = images[name] -%}
	{% set densities = range(1, (image.maxdppx or 1) + 1) -%}

	<picture>
		{%- for format in formats %}
			{%- set lastFormat = loop.last %}

			{%- for size in image.sizes | reverse %}
				{%- set isImgTag = lastFormat and loop.last %}
				{%- set srcset %}
					{%- set comma = joiner(", ") %}

					{%- for dppx in densities %}
						{%- if not isImgTag or not loop.first -%}
							{{ comma() }}{{ project.root }}/images/{{ name }}{{ ("-" ~ size.breakpoint) if size.breakpoint }}@{{ dppx }}x.{{ format }} {{ dppx }}x
						{%- endif -%}
					{%- endfor -%}
				{%- endset %}

				{{- "\n\t\t" -}}

				<{{ "img" if isImgTag else "source" }}
					{% if isImgTag %}
						class="{{ classes }}"
						src="{{ project.root }}/images/{{ name }}@1x.{{ format }}"
					{% endif %}
					{% if srcset %}
						srcset="{{ srcset }}"
					{% endif %}
					width={{ size.width }}
					height={{ size.height }}
					{% if isImgTag %}
						alt="{{ alt }}"
					{% else %}
						type="{{ "image/" ~ format }}"
					{% endif %}
					{% if size.breakpoint !== undefined -%}
						media="(width >= {{ size.breakpoint }}px)"
					{%- endif %}
				>
			{%- endfor -%}
		{%- endfor %}
	</picture>
{% endmacro %}
