{%- extends "./layouts/base.njk" -%}

{%- from "./templates/contacts.njk" import contacts with context -%}

{%- set page = {
title: "Подбор программы",
link: "/form",
lang: "ru"
} -%}

{% block main %}
<main class="main-container">

	<h1 class="page__centerer">{{ page.title }}</h1>

	<form class="selection-program page__centerer" action="https://echo.htmlacademy.ru/" method="post">
		<h2 class="selection-program__title">Заполните анкету, и мы подберем программу питания для вашего кота</h2>

		<fieldset class="selection-program__main main-info">
			<legend class="selection-program__subtitle"></legend>
			<div class="main-info__item">
				<label class="main-info__title" for="name">Имя:<span aria-hidden="true">*</span></label>
				<input class="main-info__input" type="text" name="name" id="name" placeholder="Барсик" required>
			</div>
			<div class="main-info__item">
				<label class="main-info__title" for="weight">Вес (кг):<span aria-hidden="true">*</span></label>
				<input class="main-info__input" type="number" name="weight" id="weight" placeholder="7" required>
			</div>
			<div class="main-info__item">
				<label class="main-info__title" for="age">Возраст (лет):</label>
				<input class="main-info__input" type="number" name="age" id="age" placeholder="7">
			</div>
		</fieldset>

		<fieldset class="selection-program__weight weight-info">
			<legend class="selection-program__subtitle"></legend>
			<div class="weight-info__item">
				<input class="weight-info__radio" type="radio" name="weight_loss" value="loss" id="weight-loss" checked>
				<label class="weight-info__lable" for="weight-loss">похудение</label>
			</div>
			<div class="weight-info__item">
				<input class="weight-info__radio" type="radio" name="weight_gain" value="gain" id="weight-gain">
				<label class="weight-info__lable" for="weight-gain">Набор массы</label>
			</div>
			<div class="weight-info__item">
				<input class="weight-info__radio" type="radio" name="advice" value="advice" id="advice">
				<label class="weight-info__lable" for="advice">Не знаю (Нужен ваш совет)</label>
			</div>
		</fieldset>

		<fieldset class="selection-program__contacts contacts-info">
			<legend class="selection-program__subtitle">Контактные данные (владельца кота)</legend>
			<div class="contacts-info__item">
				<label class="contacts-info__label contacts-info__label--icon_mail" for="e-mail">
					E-mail:<span aria-hidden="true">*</span>
					<input class="contacts-info__input" type="text" name="e-mail" id="e-mail" placeholder="kuklachev@gmail.com" required>
				</label>
			</div>
			<div class="contacts-info__item">
				<label class="contacts-info__label contacts-info__label--icon_phone" for="phone">
					Телефон:<span aria-hidden="true">*</span>
					<input class="contacts-info__input" type="number" name="phone" id="phone" placeholder="8 (960) 900-60-90" required>
				</label>
			</div>
		</fieldset>

		<div class="selection-program__comments comments-info">
			<label class="selection-program__subtitle" for="comments">Комментарий</label>
			<textarea class="comments-info__description" name="comments" id="comments" placeholder="Расскажите обо всех повaдках кота"></textarea>
		</div>

		<fieldset class="selection-program__additionally additionally-info">
			<legend class="selection-program__subtitle">Дополнительно</legend>
			<div class="additionally-info__item">
				<input class="additionally-info__checkbox" type="checkbox" name="additionally" value="sweetener" id="sweetener-field" checked>
				<label class="additionally-info__description" for="sweetener-field">сахарозаменитель</label>
			</div>
			<div class="additionally-info__item">
				<input class="additionally-info__checkbox" type="checkbox" name="additionally" value="drinking-water" id="drinking-water-field">
				<label class="additionally-info__description" for="drinking-water-field">питьевая вода</label>
			</div>
			<div class="additionally-info__item">
				<input class="additionally-info__checkbox" type="checkbox" name="additionally" value="milk" id="milk-field">
				<label class="additionally-info__description" for="milk-field">молоко</label>
			</div>
			<div class="additionally-info__item">
				<input class="additionally-info__checkbox" type="checkbox" name="additionally" value="vitamins" id="vitamins-field">
				<label class="additionally-info__description" for="vitamins-field">витамины</label>
			</div>
		</fieldset>
		<div class="selection-program__button">
			<button class="selection-program__submit" type="submit">отправить заявку</button>
			<div class="selection-program__annotation" aria-hidden="true">* — Обязательные поля</div>
		</div>
	</form>

	{{ contacts() }}

</main>
{% endblock %}
