{%- extends "./layouts/base.njk" -%}

{%- set page = {
	title: "Подбор программы",
	link: "/form",
	lang: "ru"
} -%}

{% block main %}
<main class="main-container">

	<h1>{{ page.title }}</h1>
	<p>Страница формы.</p>

</main>
{% endblock %}
