.additional-products__title {
	font-family: var(--font-accent);
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	margin: 0;
	padding-top: 25px;

	@media (--only-tablet) {
		font-size: 32px;
	}

	@media (--only-desktop) {
		font-size: 40px;
	}
}

.additional-products__list {
	display: grid;


	@media (--only-desktop) {
		grid-template-columns: 4fr 1fr;
		gap: 80px;
	}
}

.additional-products__item {
	justify-content: stretch;
	background: none;

	@media (--only-tablet) {
		padding: 26px 38px;
	}

	@media (--only-desktop) {
		padding: 15px 0;
		grid-template-rows: 1fr;
		align-items: center;
	}
}
