.advantages {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(var(--column-count, 1), 1fr);

	@media (--only-tablet) {
		gap: 30px;
	}

	@media (--only-desktop) {
		padding-top: 49px;
		--column-count: 2;
		gap: 80px;
	}
}

.advantages__item {
	background: var(--basic-grey);
	padding: 21px 21px 19px;

	@media (--only-tablet) {
		padding: 77px 29px 46px 52px;
	}
}

.advantages__title {
	font-family: var(--font-accent);
	font-weight: inherit;
	font-size: 24px;
	line-height: 154%;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	padding: 0;

	@media (--only-mobile) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 11px;
		margin-top: -6px;
		margin-left: -10px;
	}

	@media (--only-tablet) {
		font-size: 36px;
		line-height: 100%;
		--icon-size: 270px;
		--icon-position: inline-end;
		--icon-margin-top: -20px;
	}

	@media (--only-desktop) {
		font-size: 36px;
		line-height: 100%;
		--icon-size: 140px;
		padding-top: 55px;
		padding-left: 10px;
		--icon-margin-top: -50px;
		--icon-margin-right: 43px;
	}

	&--icon_catsit {
		--icon: var(--icon-catsit);
	}

	&--icon_catgo {
		--icon: var(--icon-catgo);
	}

	&::before {
		content: "";
		display: block;
		width: var(--icon-size, 70px);
		height: var(--icon-size, 70px);
		float: var(--icon-position, inline-start);
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-top: var(--icon-margin-top, 0);
		margin-right: var(--icon-margin-right, 0);
	}
}

.advantages__description {
	font-family: var(--font-main);
	font-weight: inherit;
	font-size: 14px;
	line-height: 129%;
	position: relative;
	color: var(--special-dark-grey);
	margin: 0;
	padding: 0;

	@media (--only-mobile) {
		padding-top: 11px;
	}

	@media (--not-mobile) {
		--is-divided: none;
	}

	&::after {
		content: var(--is-divided, " ");
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #d9d9d9;
		bottom: -23px;
	}
}

.advantages__text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: #000000;
	margin: 0;
	padding: 0;

	@media (--only-tablet) {
		font-size: 16px;
		line-height: 150%;
		padding-top: 25px;
	}

	@media (--only-desktop) {
		font-size: 16px;
		line-height: 150%;
		padding-top: 73px;
		padding-left: 30px;
		padding-right: 7px;
	}
}


.advantages__link {
	font-family: var(--font-accent);
	font-weight: inherit;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	text-decoration: none;
	display: inline flex;
	gap: 17px;
	padding-top: 43px;

	@media (--only-tablet) {
		font-size: 20px;
		padding-top: 58px;
		gap: 27px;
		--icon-arrow-padding-top: 7px;
	}

	@media (--only-desktop) {
		font-size: 20px;
		padding-left: 32px;
		padding-top: 33px;
		padding-bottom: 45px;
		--icon-arrow-padding-top: 7px;
	}

	&:hover {
		--icon-shift: 0;
	}

	&:active {
		--icon-opacity: 0.3;
		color: rgba($color: #000000, $alpha: 0.3);
	}

	&::after {
		content: "";
		display: block;
		width: 32px;
		height: 12px;
		mask: var(--icon-arrow);
		mask-repeat: no-repeat;
		mask-position: var(--icon-shift, -8px) center;
		mask-size: contain;
		background-color: rgb(0 0 0 / var(--icon-opacity, 1));
		transition: mask-position 0.1s;
		padding-top: var(--icon-arrow-padding-top, 0);
	}
}
