.advantages__title {
	@media (--only-tablet) {
		--icon-size: 270px;
	}

	@media (--only-desktop) {
		--icon-size: 140px;
	}

	&--icon_catsit {
		--icon: var(--icon-catsit);
	}

	&--icon_catgo {
		--icon: var(--icon-catgo);
	}

	&::before {
		content: "";
		display: block;
		float: inline-start;
		width: var(--icon-size, 70px);
		height: var(--icon-size, 70px);
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.advantages__link {
	display: inline flex;
	gap: 25px;

	&:hover {
		--icon-shift: 0;
	}

	&:active {
		--icon-opacity: 0.3;
	}

	&::after {
		content: "";
		display: block;
		width: 32px;
		height: 12px;
		mask: var(--icon-arrow);
		mask-repeat: no-repeat;
		mask-position: var(--icon-shift, -8px) center;
		mask-size: contain;
		background-color: rgb(0 0 0 / var(--icon-opacity, 1));
		transition: mask-position 0.1s;
	}
}
