.card {
	@media (--not-mobile) {
		--icon-size: 60px;
	}

	&--has-icon {
		--has-icon: "";
	}

	&::before {
		content: var(--has-icon, none);
		display: block;
		width: var(--icon-size, 30px);
		height: var(--icon-size, 30px);
		background-image: var(--icon-plus);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
