.card--has_icon::before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background-image: var(--icon-plus);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (--not-mobile) {
		width: 60px;
		height: 60px;
	}
}
