.contacts {
	display: grid;
	background-color: var(--basic-grey);

	@media (--only-tablet) {
		padding-bottom: 39px;
	}

	@media (--only-desktop) {
		min-height: 400px;
		grid-template-columns: 1fr;
		margin-top: 1px;
	}
}

.contacts__wrapper {
	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		z-index: 1;
		align-self: center;
	}
}

.contacts__information {
	--bg: var(--contacts-bg, var(--basic-grey));
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--bg);
	box-shadow:
		50vw 0 0 0 var(--bg),
		-30vh 0 0 0 var(--bg);
	padding: 26px 0 26px 0;

	@media (--only-desktop) {
		--bg: var(--basic-white);
		gap: 93px;
		box-shadow: none;
		padding: 60px 79px;
		width: 407px;
		margin-top: -8px;
	}

	@media (--only-tablet) {
		gap: 308px;
		text-align: right;
		padding: 58px 40px 60px;
	}
}

.contacts__title {
	font-family: var(--font-accent);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-transform: uppercase;
	color: #111111;

	@media (--not-mobile) {
		font-size: 20px;
		line-height: 130%;
	}

	@media (--only-tablet) {
		text-align: left;
	}
}

.contacts__adress {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--special-dark-grey);

	@media (--not-mobile) {
		font-size: 16px;
		line-height: 125%;
	}

	br {
		@media (--not-mobile) {
			margin-bottom: 1lh;
		}
	}
}

.contacts__map-interactive {
	height: 362px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	z-index: 0;

	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin: auto;
		width: 100%;
		height: 100%;
		box-shadow: 0 50vh 0 50vh var(--basic-grey);
	}


	@media (scripting: enabled) {
		background-color: var(--basic-grey);
	}
}

.contacts__map-interactive iframe {
	width: 100%;
	height: 100%;
}

.contacts__map {
	object-fit: cover;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	height: 362px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	z-index: 1;

	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		height: 100%;
		box-shadow: 0 50vh 0 50vh var(--basic-grey);
	}

	@media (scripting: enabled) {
		display: none;
	}
}
