.contacts {
	display: grid;

	@media (--only-desktop) {
		grid-template-columns: 1fr;
	}

	@media (--not-desktop) {
		background-color: var(--basic-grey);
		box-shadow: 0 50vh 0 50vh var(--basic-grey);
	}
}

.contacts__information {
	@media (--only-desktop) {
		background-color: var(--basic-white);
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		z-index: 1;
		align-self: center;
	}
}

.contacts__map-interactive {
	@media (scripting: enabled) {
		background-color: var(--basic-grey);
	}
}

.contacts__map {
	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	@media (scripting: enabled) {
		display: none;
	}
}
