.contacts {
	display: grid;

	@media (--only-desktop) {
		grid-template-columns: 1fr;
	}

	@media (--not-desktop) {
		background-color: var(--basic-grey);
		box-shadow: 0 50vh 0 50vh var(--basic-grey);
	}
}

.contacts__wrapper {
	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		z-index: 1;
		align-self: center;
	}
}

.contacts__information {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--basic-white);
	box-shadow: 0 50vh 0 50vh var(--basic-white);
	padding: 26px 0 26px 0;

	@media (--only-desktop) {
		gap: 87px;
		box-shadow: none;
		padding: 60px 79px;
		width: 407px;
	}

	@media (--only-tablet) {
		gap: 308px;
		text-align: right;
		padding: 58px 40px 60px;
	}
}

.contacts__title {
	font-family: var(--font-accent);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-transform: uppercase;
	color: #111111;

	@media (--not-mobile) {
		font-size: 20px;
		line-height: 130%;
	}

	@media (--only-tablet) {
		text-align: left;
	}
}

.contacts__adress {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--special-dark-grey);

	@media (--not-mobile) {
		font-size: 16px;
		line-height: 125%;
	}
}

.contacts__map-interactive {
	@media (scripting: enabled) {
		background-color: var(--basic-grey);
	}
}

.contacts__map {
	@media (--only-desktop) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	//@media (scripting: enabled) {
	//	display: none;
	//}
}
