.contacts-info__label {
	&--icon_mail {
		--icon: var(--icon-mail);
	}

	&--icon_phone {
		--icon: var(--icon-phone);
	}

	&::after {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		background-image: var(--icon);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
