.copyright__link--icon_htmlacademy::before {
	content: "";
	display: block;
	width: 27px;
	height: 34px;
	mask-image: var(--icon-htmlacademy);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: var(--special-grey-3);
}

.copyright__link--icon_htmlacademy:hover::before {
	background-color: var(--basic-green);
}

.copyright__link--icon_htmlacademy:active::before {
	opacity: 0.3;
}
