.copyright__link {
	position: relative;
	font-family: var(--font-main);
	font-size: 16px;
	line-height: 125%;
	display: flex;
	text-decoration: none;
	color: var(--special-dark-grey);
	align-items: center;

	@media (--not-mobile) {
		padding-right: 50px;
		justify-content: right;
		width: fit-content;
	}

	@media (--only-mobile) {
		padding-top: 44px;
		justify-content: space-between;
	}

	&:hover {
		--icon-color: var(--basic-green);
	}

	&:active {
		opacity: 0.3;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 27px;
		height: 34px;
		mask-image: var(--icon-htmlacademy);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		background-color: var(--icon-color, var(--special-grey-3));
		right: 0;
	}
}
