.copyright__link {
	display: flex;
	gap: 23px;

	@media (--only-mobile) {
		justify-content: space-between;
	}

	&:hover {
		--icon-color: var(--basic-green);
	}

	&:active {
		opacity: 0.3;
	}

	&::after {
		content: "";
		display: block;
		width: 27px;
		height: 34px;
		mask-image: var(--icon-htmlacademy);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		background-color: var(--icon-color, var(--special-grey-3));
	}
}
