.example {
	display: grid;

	@media (--only-desktop) {
		grid-template-columns: repeat(2, 1fr);
		gap: 0 224px;
	}
}

.example__title {
	font-family: var(--font-accent);
	font-weight: 400;
	font-size: 36px;
	line-height: 111%;
	margin: 0;
	padding-top: 25px;


	@media (--only-mobile) {
		background-color: var(--basic-grey);
		box-shadow: 0 50vh 0 50vh var(--basic-grey);
	}

	@media (--only-tablet) {
		padding-top: 23px;
	}

	@media (--not-mobile) {
		font-size: 60px;
		line-height: 100%;
	}
}

.example__description {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	padding-top: 40px;

	@media (--not-mobile) {
		font-size: 16px;
		line-height: 150%;
	}

	@media (--only-tablet) {
		padding-top: 60px;
	}

	@media (--only-desktop) {
		padding-top: 146px;
	}
}

.example__image {
	@media (--only-desktop) {
		grid-column: 2 / 3;
		grid-row: 1 / 4;
	}
}

.example__result {
	padding-top: 20px;

	@media (--only-tablet) {
		padding-top: 55px;
	}
}
