.logo {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 14px;
}

.logo__text {
	align-self: center;

	@media (--only-mobile) {
		justify-self: center;
	}

	@media (--not-desktop) {
		width: 101px;
		height: 18px;
	}
}
