.main-container--index {
	--contacts-bg: var(--basic-white);
}

.main-container__title {
	font-family: var(--font-accent);
	font-weight: 400;
	font-size: 36px;
	line-height: 100%;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;

	@media (--only-mobile) {
		padding-top: 42px;
	}

	@media (--not-mobile) {
		font-size: 60px;
		--is-divided: none;
	}

	@media (--only-tablet) {
		padding-top: 65px;
	}

	@media (--only-desktop) {
		padding-top: 74px;
	}

	&::before {
		content: var(--is-divided, " ");
		display: block;
		position: absolute;
		width: 150vw;
		height: 1px;
		background-color: #e6e6e6;
		top: 14px;
		left: -100vw;
		box-shadow: 50vw 0 0 0 #e6e6e6;
	}
}

.main-container__promo {
	@media (--only-mobile) {
		padding-top: 20px;
	}
}

.main-container__advantages {
	padding-top: 17px;

	@media (--only-tablet) {
		padding-top: 0;
	}

	@media (--only-desktop) {
		padding-top: 82px;
	}
}

.main-container__specific {
	padding-top: 20px;

	@media (--only-tablet) {
		padding-top: 45px;
	}

	@media (--only-desktop) {
		padding-top: 71px;
	}
}

.main-container__example {
	@media (--only-tablet) {
		padding-top: 81px;
	}

	@media (--only-desktop) {
		padding-top: 53px;
		padding-bottom: 75px;
	}
}
