.main-footer {
	display: grid;
	background-color: var(--basic-grey);
	box-shadow: 0 50vh 0 50vh var(--basic-grey);

	@media (--not-mobile) {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
	}
}

.main-footer__logo {
	position: relative;

	@media (--only-mobile) {
		padding-top: 40px;
		width: 128px;
		height: 24px;
	}

	@media (--not-mobile) {
		justify-self: start;
		padding: 60px 0 63px 0;
	}

	&::after {
		content: " ";
		display: block;
		position: absolute;
		width: 280px;
		height: 1px;
		background-color: #d9d9d9;
		bottom: -20px;
		left: -77px;
	}
}

.main-footer__social {
	position: relative;

	&::after {
		content: " ";
		display: block;
		position: absolute;
		width: 280px;
		height: 1px;
		background-color: #d9d9d9;
		bottom: -17px;
		left: -75px;
	}
}

.main-footer__copyright {
	@media (--not-mobile) {
		justify-self: end;
	}
}
