.main-footer {
	display: grid;

	@media (--not-mobile) {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
	}
}

.main-footer__logo {
	@media (--only-mobile) {
		padding-top: 40px;
	}

	@media (--not-mobile) {
		justify-self: start;
		padding: 55px 0 55px 0;
	}
}

.main-footer__copyright {
	@media (--not-mobile) {
		justify-self: end;
	}
}
