.main-footer {
	display: grid;
	justify-items: center;

	@media (--not-mobile) {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
	}
}

.main-footer__logo {
	@media (--not-mobile) {
		justify-self: start;
	}
}

.main-footer__copyright {
	@media (--not-mobile) {
		justify-self: end;
	}
}
