.nav-list__item {
	font-family: var(--font-accent);
	font-size: 20px;
	text-transform: uppercase;
	position: relative;

	@media (--only-mobile) {
		line-height: 100%;
		padding: 22px 0 24px 0;
	}

	@media (--only-tablet) {
		font-size: 18px;
		line-height: 133%;
	}

	@media (--not-mobile) {
		--is-divided: none;
	}

	&::before {
		content: var(--is-divided, " ");
		display: block;
		position: absolute;
		width: 200vw;
		height: 1px;
		background-color: #e6e6e6;
		top: 0;
		left: -100vw;
	}
}

.nav-list__link {
	position: relative;
	color: #000000;
	text-decoration: none;

	@media (--only-tablet) {
		--underline-color: var(--basic-green);
	}

	@media (--only-desktop) {
		--underline-color: var(--basic-white);
	}


	&[aria-current="page"]::after {
		position: absolute;
		content: "";
		right: 0px;
		left: 0px;
		height: 2px;
		background-color: var(--underline-color);
		z-index: 1;
		bottom: -10px;
	}
}
