@use "../common/image.scss" as *;

.present {
	display: grid;
	justify-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	padding: 59px 61px 43px 58px;

	@include image("cat-in-bag");

	@media (--not-mobile) {
		@include image("cat-in-bag-768");
	}

	@media (--only-desktop) {
		@include image("cat-in-bag-1280");
		padding: 56px 40px 23px 45px;
	}

	@media (--only-tablet) {
		gap: 264px;
		padding-top: 60px;
		padding-left: 80px;
		padding-bottom: 60px;
	}


	&::before {
		content: "";
		display: block;
		width: 80px;
		height: 80px;
		background-image: var(--icon-gift);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&::after {
		content: var(--is-bg, " ");
		position: absolute;
		top: 0;
		width: var(--bg-width, 100%);
		height: var(--bg-height, 100%);
		background-color: rgb(104 183 56 / 0.85);
		z-index: -1;
	}
}

.present__description {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: var(--basic-white);
	text-align: center;
	padding-top: 48px;

	@media (--only-tablet) {
		grid-column: 2 / 3;
		align-self: center;
		padding: 0;
		text-align: left;
		padding-right: 38px;
	}

	@media (--only-desktop) {
		padding-top: 30px;
	}
}
