@use "../common/image.scss" as *;

.present {
	@include image("cat-in-bag");

	@media (--not-mobile) {
		@include image("cat-in-bag-768");
	}

	@media (--only-desktop) {
		@include image("cat-in-bag-1280");
	}
	min-height: 300px;
}

.present::before {
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../../icons/gift.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
