.social__link::before {
	content: "";
	display: block;
	width: 28px;
	height: 28px;
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.social__link--icon_vkontakte {
	--icon: url("../../icons/social/vkontakte.svg");
}

.social__link--icon_youtube {
	--icon: url("../../icons/social/youtube.svg");
}

.social__link--icon_telegram {
	--icon: url("../../icons/social/telegram.svg");
}
