.social {
	display: flex;
	gap: 24px;
	list-style: none;
	margin: 0;
	padding: 0;


	@media (--only-mobile) {
		padding-top: 40px;
		justify-self: center;
	}

	@media (--not-mobile) {
		justify-self: center;
	}
}

.social__link {
	&:hover {
		--icon-color: var(--basic-green);
	}

	&:active {
		--icon-opacity: 0.3;
	}

	&--icon_vkontakte {
		--icon: var(--icon-social-vkontakte);
	}

	&--icon_youtube {
		--icon: var(--icon-social-youtube);
	}

	&--icon_telegram {
		--icon: var(--icon-social-telegram);
	}

	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 28px;
		mask-image: var(--icon);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		background-color: var(--icon-color, var(--special-grey-3));
		opacity: var(--icon-opacity, 1);
	}
}
