.specific__item::before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: var(--basic-green);

	@media (--not-mobile) {
		width: 80px;
		height: 80px;
	}
}

.specific__item--icon_leaf {
	--icon: var(--icon-leaf);
}

.specific__item--icon_flask {
	--icon: var(--icon-flask);
}

.specific__item--icon_scales {
	--icon: var(--icon-scales);
}

.specific__item--icon_tambleware {
	--icon: var(--icon-tableware);
}
