.specs {
	margin: 0;

	&--additional {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		grid-column: 1 / 3;
		padding: 0;
		padding-top: 14px;

		@media (--not-mobile) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			padding: 0;
		}

		@media (--only-tablet) {
			justify-content: right;
			padding-bottom: 21px;
			padding-top: 4px;
		}

		@media (--only-desktop) {
			display: grid;
			grid-template-columns: 1.25fr 1fr;
			padding: 0;
		}
	}
}

.specs__item {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;

	@media (--only-mobile) {
		--is-divided: none;
	}

	@media (--not-mobile) {
		--is-divided: "";
		padding-top: 13px;
	}

	&--additional {
		display: block;
		--is-divided: none;

		@media (--only-tablet) {
			padding: 0;
		}

		@media (--only-desktop) {
			padding: 0;
			padding-left: 109px;
		}
	}

	&::before {
		content: var(--is-divided, " ");
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: var(--special-grey);
		bottom: -8px;
	}
}

.specs__name {
	&--not_visible {
		display: none;
	}
}

.specs__value {
	margin: 0;
	justify-self: end;

	&--additional {
		font-size: 14px;
		line-height: 100%;

		@media (--not-mobile) {
			margin-left: 52px;
			font-size: 16px;
			line-height: 125%;
		}

		@media (--only-desktop) {
			margin: 0;
			padding: 0;
			justify-self: left;
		}
	}
}
