name: Deploy on pull request

on:
  pull_request_target:
    branches:
      - '*'

jobs:
  deploy-on-pull-request:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'refs/pull/${{ github.event.pull_request.number }}/merge'
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
        env:
          REPO_NAME: ${{ github.event.repository.name }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./build
          branch: gh-pages
          target-folder: ${{ github.event.pull_request.number }}
